:root {
    --font-color: antiquewhite;
    --hover-font-color: #816dca;
    --shadow-color: #816dca;
}

::selection {
    background: #3f3f40;
}

@font-face {
    font-family: 'ElegantFont';
    src: url('adequate.extra-light.ttf') format('truetype');
}

html {
    font-family: 'ElegantFont', sans-serif;
    font-size: 34px;
    color: var(--font-color);
    scrollbar-color: #666 #201c29;
}

body {
    background-color: #212224;
    overflow-x: hidden; /* For menu animation */
}

header {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    display: inline-block;
    text-align: right;
}

.header-menu ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 20px;
    list-style: none;
}

/* Different animation times for the three menu items */
.header-menu li:nth-child(1) {
    position: relative;
    animation: slide-right-to-left 0.5s normal;
}
.header-menu li:nth-child(2) {
    position: relative;
    animation: slide-right-to-left 1.2s normal;
}
.header-menu li:nth-child(3) {
    position: relative;
    animation: slide-right-to-left 1.5s normal;
}


.header-menu li {
    margin-bottom: 20px;
    user-select: none;
}

.header-menu > nav > ul > li > span {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.7rem;
    transition: color 250ms;
}

.header-menu > nav > ul > li > span:hover {
    color: var(--hover-font-color);
    cursor: pointer;
    transition: color 250ms;
}

.logo {
    padding: 0;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 0.8rem;
}

.logo > span {
    padding: 6px;
}

.logo > span::after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--hover-font-color);
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 250ms ease-in-out;
    animation: bottom-line 1s normal;
}

.logo > span:hover::after {
    transform: scaleX(1);
}

.logo > span:hover {
    cursor: pointer;
}



#home-main {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    flex-direction: column;
}

#home-main > p {
    margin-top: 10px;
    font-size: 1.1rem;
    display: inline-block;
    animation: fade-in 2.5s normal;
}

header > video {
    max-width: 36%;
    height: auto;
    user-select: none;
    margin-top: 50px;
    box-shadow: 10px 10px var(--shadow-color);
}

@keyframes slide-right-to-left {
    0% {
        right: -100px;
    }
    100% {
        right: 0;
    }
}

@keyframes bottom-line {
    0% {
        display: block;
        content: '';
        border-bottom: solid 3px var(--hover-font-color);
        transform: scaleX(0);
        transform-origin: 50% 50%;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 50% 100%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}